/*
 * CSSs aplicados à página inteira
 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

a {
    cursor: pointer;
}

h1 {
    color: #333;
}

/* Estilo geral para todas as seções principais */
.secaoPrincipal {
    padding: 20px;
    background-color: white;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*
 * CSSs da Seção principal - CONTATO
 */

/* Estilo para os inputs*/
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-color: #555;
}
